{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Confirm Registration</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">


</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Confirm Account Registration</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Confirmation Code</h4>
          <p>Enter the confirmation code sent to your registered email</p>
        </div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="confirmCode" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="confirmCode">Enter Code</label>
            </div>
          </div>
          <a class="btn btn-success btn-block" href="">Submit</a>
        </form>
        <div class="text-center">
          <a class="d-block small" href="{% url "sb_admin_login" %}">Login Page</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
  <!-- Cognito -->
  <script src="{%static "js/aws-cognito-sdk.min.js" %}"></script>
  <script src="{%static "js/amazon-cognito-identity.min.js" %}"></script>


</body>

<!-- Cognito -->
<script>
  var cognitoUserPoolId = "us-east-1_RthhXV3XY";
  var cognitoUserPoolClientId = "20piadmcfn4hkt62oipkq5matk";
   $(document).on('click', '.btn-success', function(event) {
    event.preventDefault();

    var confirmCode = document.getElementById('confirmCode').value;

    var poolData = {
      UserPoolId : cognitoUserPoolId,
      ClientId : cognitoUserPoolClientId
    };

    var userName = localStorage.getItem('email');

    var userPool = new AmazonCognitoIdentity.CognitoUserPool(poolData);
    var userData = {
        Username : userName,
        Pool : userPool
    };

    var cognitoUser = new AmazonCognitoIdentity.CognitoUser(userData);
    cognitoUser.confirmRegistration(confirmCode, true, function(err, result) {
        if (err) {
            alert(err.message);
            return;
        }
        else
        {
          window.location.replace("/greevil/login");
        }
        window.location.replace("/greevil/login");

    });

  });
</script>


</html>
