{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Confirm Registration</title>

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">


</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Password Reset</div>
        <div class="card-body">
            <div class="text-center mb-4">
                <h4>Confirmation Code</h4>
                <p>Enter the confirmation code sent to your registered email and provide new password</p>
            </div>
            <form>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="confirmCode" class="form-control" placeholder="Enter email address"
                               required="required" autofocus="autofocus">
                        <label for="confirmCode">Enter Code</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="password" class="form-control" placeholder="Enter new password"
                               required="required" autofocus="autofocus">
                        <label for="password">New Password</label>
                    </div>
                </div>
                <a class="btn btn-success btn-block" href="">Submit</a>
            </form>
            <div class="text-center">
                <a class="d-block small" href="{% url "sb_admin_login" %}">Login Page</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
<!-- Cognito -->
<script src="{% static "js/aws-cognito-sdk.min.js" %}"></script>
<script src="{% static "js/amazon-cognito-identity.min.js" %}"></script>


</body>

<!-- Cognito -->
<script>
    let cognitoUserPoolId = "{{ cognitoUserPoolId }}";
    let cognitoUserPoolClientId = "{{ cognitoUserPoolClientId }}";
    $(document).on('click', '.btn-success', function (event) {
        event.preventDefault();
        let confirmCode = document.getElementById('confirmCode').value;
        let userName = localStorage.getItem('resetEmail');
        let password = document.getElementById('password').value;

        $.ajax({
            type: "POST",
            {#TODO change/pass from settings#}
            url: "{{APP_SERVER}}/cognito/login/forget/",
            data: JSON.stringify({'email': userName, 'code': confirmCode, 'password': password}),
            dataType: "json",
            contentType: "application/json",
            success: function (response) {
                if (response['status'] === "success") {
                    {# Redirect #}
                    window.alert("Success! Please login again")
                    window.location.replace('/greevil/login/');

                } else {
                    window.alert(response['data'])
                }
            },
            error: function (err) {
                window.alert(JSON.stringify(err));
            }
        });


    });
</script>


</html>
