{% extends "greevil/base.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

{% block sb_admin_breadcrumb_active %}

<script>
  function post_delete_request(id){          
    $.ajax({
    type:'POST',
    url:'/greevil/delete_expense/', 
    data: {"id":id},
    success:function(response) {
      alert(response["Result"])
      window.location.reload();
    }
    });
  } 
</script>

 <li class="breadcrumb-item active"> / Tables</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  
  <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Expenses Table</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Paid By</th>
                    <th>Paid For</th>
                    <th>Comments</th>
                    <th>Edit</th>

                  </tr>
                </thead>
                <tbody>
                  
                  {% for expense in expenses %}
                    <tr>
                      <td>{{ expense.Date }}</td>
                      <td>{{ expense.Description }}</td>
                      <td>{{ expense.Amount }}</td>
                      <td>{{ expense.By }}</td>
                      <td>{{ expense.For }}</td>
                      <td>{{ expense.Comments }}</td>
                      <!-- Delete button -->
                      <td>
                        <button class="btn btn-danger delete" id="{{ expense.ExpenseId}}" onclick="post_delete_request(this.id)">
                        Delete   
                        </button>
                      </td>        
                    </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
        </div>

  
{% endblock sb_admin_content %}
