{% extends "greevil/base.html" %}{% load static %}{% block sb_admin_title %}Add{% endblock sb_admin_title %}

{% block sb_admin_breadcrumb_active %}
    <li class="breadcrumb-item active">
        Add
    </li>
{% endblock sb_admin_breadcrumb_active %}

{% block sb_admin_content %}

    <script>

        function SubForm() {

            $("#spinner-pulse").show();

            $.ajax({
                type: 'POST',
                url: '/greevil/add_friend/',
                data: $("#add-friend-form").serialize(),
                success: function (response) {
                    $("#spinner-pulse").hide();

                    $(".alert").removeClass("d-none");
                    $("#add-friend-result").text(response["Result"])
                    alert(response["Result"])
                    window.location.replace("/greevil/add")
                },
                error: function (response) {
                    $("#spinner-pulse").hide();

                    $(".alert").removeClass("d-none");
                    $("#add-friend-result").text("No user found")
                }
            });

        }

    </script>

    <div class="row">
        <div class="col-lg-6 col-md-6">

            <h3>
                Add to contacts
            </h3>
            <hr>
            <form role="form" id="add-friend-form">

                <div class="form-group row">
                    <label for="add-friend-email-input" class="col-2 col-form-label">To Add:</label>
                    <div class="col-10 input-group">
                        <input type="email" required class="form-control" placeholder="Email ID"
                               id="add-friend-email-input" name="add-friend-email-input">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="add-friend-email-submit"
                                    onclick="SubForm()">
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </form>

            <div class="alert alert-warning alert-dismissible fade show d-none" role="alert">
                <strong id="add-friend-result"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

{% endblock sb_admin_content %}
