{% extends "greevil/base.html" %}{% load static %}{% block sb_admin_title %}Add{% endblock sb_admin_title %}

{% block sb_admin_breadcrumb_active %}
    <li class="breadcrumb-item active">
        Add
    </li>
{% endblock sb_admin_breadcrumb_active %}

{% block sb_admin_content %}

    <script>
        function SubForm() {
            $.ajax({
                url: '/greevil/add_expense/',
                type: 'POST',
                data: $('#add-expense-form').serialize(),
                success: function () {
                    alert(response["Result"]);
                    $("#add-friend-result").text(response["Result"])
                    window.location.replace("/greevil/add")
                }
            });

        }

        function SubForm2() {


            $.ajax({
                type: 'POST',
                url: '/greevil/add_friend/',
                data: $("#add-friend-form").serialize(),
                success: function (response) {
                    $(".alert").removeClass("d-none");
                    $("#add-friend-result").text(response["Result"])
                    alert(response["Result"])
                    window.location.replace("/greevil/add")

                }
            });

        }

    </script>

    <div class="row">
        <div class="col-lg-6 col-md-6">

            <h3>
                Add to contacts
            </h3>
            <hr>
            <form role="form" id="add-friend-form">

                <div class="form-group row">
                    <label for="add-friend-email-input" class="col-2 col-form-label">To Add:</label>
                    <div class="col-10 input-group">
                        <input type="email" required class="form-control" placeholder="Email ID"
                               id="add-friend-email-input" name="add-friend-email-input">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="add-friend-email-submit"
                                    onclick="SubForm2()">
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </form>

            <div class="alert alert-warning alert-dismissible fade show d-none" role="alert">
                <strong id="add-friend-result"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6">

            <h3>
                Add an expense
            </h3>
            <hr>

            <form role="form" id="add-expense-form">


                <div class="form-group row">
                    <label for="expense-description-input" class="col-2 col-form-label">Description</label>
                    <div class="col-10">
                        <input class="form-control" required placeholder="Enter text" id="expense-description-input"
                               name="expense-description-input">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="expense-amount-input" class="col-2 col-form-label">Amount</label>
                    <div class="col-10">
                        <input class="form-control" required type="number" min="0" id="expense-amount-input"
                               name="expense-amount-input">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="expense-date-input" class="col-2 col-form-label">Date</label>
                    <div class="col-10">
                        <input class="form-control" required type="date" value="2020-06-10" id="expense-date-input"
                               name="expense-date-input">
                    </div>
                </div>


                <!-- <div class="form-group">
                    <label>Radio Buttons</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Radio 1
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio 2
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio 3
                        </label>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label for="expense-by-input" class="col-2 col-form-label">Paid by</label>
                    <div class="col-10">
                        <select class="form-control" name="expense-by-input">

                            <option value="{{ users }}">
                                {{ users }}
                            </option>


                            {% for user in friends %}
                                <option value="{{ user }}">
                                    {{ user }}
                                </option>
                            {% endfor %}

                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label>Comments</label>
                    <label>
                        <textarea class="form-control" rows="3" name="expense-comments-input"></textarea>
                    </label>
                </div>


                <button type="submit" class="btn btn-primary" onclick="SubForm()">Submit Button</button>

            </form>

        </div>
    </div>

    <script>
        Date.prototype.toDateInputValue = (function () {
            let local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });
        document.getElementById('expense-date-input').value = new Date().toDateInputValue();
    </script>
{% endblock sb_admin_content %}
